.select {
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--input--background-color);
  color: var(--input--color);
  overflow-x: hidden;
  text-overflow: ellipsis;
}
