.container {
  display: grid;
  grid-template-columns: 20vw 20vw;
  align-items: center;
  grid-gap: 5vw;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 30vw 30vw;
  }
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 45vw 45vw;
  }
}