.loading {
  padding-top: 2rem;
  text-align: center;
}

.container {
  padding-top: 1rem;
}

.textField {
  width: 100%;
}

.inputField {
  background-color: white !important;
  border-radius: 4px;
}
