.hidden {
  display: none;
  visibility: hidden;
}

.popover {
  /* position: relative; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  z-index: 998;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--card--background-color);
  border-radius: 5px;
  position: absolute;
  right: 0;
  min-width: 100%;
  overflow-y: auto;
}
